{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'base.css' %}">
    <link rel="stylesheet" href="{% static 'dashboard.css' %}">
    {% block head %} {% endblock head %}
</head>

<body>
    <nav>
        <h1 class="logo">Attendance and leave Management System </h1>
        <div class="nav-box">
            <div class="signup">
                <span>12:00:00</span>
                <div class="time">
                    <img src="static/time.png">
                </div>
            </div>
            <div class="logout">
                <img src="static/logout.png">
            </div>
        </div>
    </nav>
    
    <div class="sidebar">
        <div class="data">
            <div class="profile"><img src="static/profile.png"></div>
            <div class="emp-data">
                <h3 class="text">
                    GOURAV AGARWAL
                </h3>
                <h5 class="id">
                    EMPLOYEE ID: 2134
                </h5>
            </div>
        </div>
        <div class="options">
            <label class="content">
                <ul>
                    <li><a href="#">leave request</a></li>
                    <li><a href="#">leave history</a></li>
                    <li><a href="#">employee's record</a></li>
                    <li><a href="#">leave approval</a></li>
                </ul>
            </label>
        </div>
        <div class="leave">
                <ul>
                    <li>personal leaves left: 20</li>
                    <li>medical leaves left: 15</li>
                </ul>
        </div> 
    </div>
    <div class="box">
    {% block content %}
    {% endblock content %} 
</div>
</body>

</html>